# ==============================
# VS Code
# ==============================
.vscode/
*.code-workspace

# ==============================
# Python
# ==============================
__pycache__/
*.py[cod]
*$py.class

.venv/
venv/
env/
ENV/

*.egg-info/
.pytest_cache/
.mypy_cache/

# ==============================
# C / C++
# ==============================
*.o
*.obj
*.exe
*.out

# ==============================
# Arduino
# ==============================
build/
*.hex
*.elf
*.eep
*.map

# ==============================
# Sistema operacional
# ==============================
.DS_Store
Thumbs.db
desktop.ini

# ==============================
# Arquivos temporários
# ==============================
*.tmp
*.temp
*.log
*.bak
*.swp